{% extends 'base.html' %}

{% block content %}

<h2>Products</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Inventory available</th>
        </tr>
    </thead>
    <tbody>
        {% if products %}
            {% for product in products %}
                <tr>
                    <th scope="row"><a href="{% url 'update_product' product.id %}">{{ product.id }}</a></th>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.inventory_left }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
<a class="btn btn-primary" href="{% url 'add_product' %}">Add product</a>
 
{% endblock content %}
